<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Module Name</th>
            <th>Added Date</th>
        </tr>
    </thead>
    {{#modules}}
    <tr>
        <td><a href="#">{{name}}</a></td>
        <td>{{addedDate}}</td>
    </tr>
    {{/modules}}
</table>
